<%= form_with(model: dang) do |form| %>
  <% if dang.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dang.errors.count, "error") %> prohibited this dang from being saved:</h2>

      <ul>
        <% dang.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
